
extends layouts/main.pug

block content
    .form-container
        form(action=routes.editProfile, method="post")
            input(type="text", placeholder="current Password", name="current Password")
            input(type="text", placeholder="New Password", name="New Password")
            input(type="text", placeholder="Verify New Password", name="Verify New Password")
            input(type="submit", value="Change Password")
        