extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__video
        if videos.length === 0
            h5 No videos found
        each item in videos
            +videoBlock({
                id: item.id,
                videoFile: item.videofile,
                title: item.title,
                views: item.views    
            })